<p id="notice"><%= notice %></p>
<% content_for :title, 'Fixtures' %>

<h1>World Cup 2026 Fixtures</h1>

<table id="fixtures_table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Round</th>
      <th>Date</th>
      <th>Session</th>
      <th>Home</th>
      <th></th>
      <th>Away</th>
      <th>Channel</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @fixtures.each do |fixture| %>
      <tr>
        <td><%= fixture.round.name if fixture.round %></td>
        <td><%= fixture.date.strftime("%a, %b %d") if fixture.date %></td>
        <td><%= fixture.session.format_time if fixture.session %></td>
        <td style="white-space: nowrap;">
          <% if fixture.home_team %>
            <img src="<%= flag_url(fixture.home_team.name) %>" width="30" height="15" style="margin-right: 5px;" />
            <%= fixture.home_team.name %>
          <% end %>
        </td>
        <td style="text-align: center; font-weight: bold;">vs</td>
        <td style="white-space: nowrap;">
          <% if fixture.away_team %>
            <img src="<%= flag_url(fixture.away_team.name) %>" width="30" height="15" style="margin-right: 5px;" />
            <%= fixture.away_team.name %>
          <% end %>
        </td>
        <td><%= fixture.channel.name if fixture.channel %></td>
        <td>
          <%= link_to 'Show', fixture_path(fixture), class: 'btn btn-xs btn-info' %>
          <%= link_to 'Edit', edit_fixture_path(fixture), class: 'btn btn-xs btn-warning' %>
          <%= link_to 'Destroy', fixture_path(fixture), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Fixture', new_fixture_path %>

<script>
$(document).ready(function() {
  $('#fixtures_table').DataTable({
    "paging": true,
    "ordering": true,
    "searching": true,
    "info": true,
    "pageLength": 25,
    "order": [[ 1, "desc" ], [ 2, "asc" ]],
    "columnDefs": [
      { "targets": [4, 7], "orderable": false },
      { "targets": 7, "width": "15%" }
    ]
  });
});
</script>