<p id="notice"><%= notice %></p>
<% content_for :title, 'Results' %>

<h1>World Cup 2026 Results</h1>

<table id="results_table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Round</th>
      <th>Date</th>
      <th>Home Team</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Away Team</th>    
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.fixture.round.name if result.fixture.round %></td>

        <td><%= result.fixture.date.strftime("%a, %b %d") if result.fixture.date %></td>
        <td>
          <%= result.fixture.home_team.name %>
        </td>
        <td>
          <img src="<%= flag_url(result.fixture.home_team.name) %>" width="30" height="15" style="margin-right: 5px;" />
        </td>
        <td style="text-align: center; font-weight: bold;"><%= result.home_goals %> - <%= result.away_goals %></td>
        <td>
          <img src="<%= flag_url(result.fixture.away_team.name) %>" width="30" height="15" style="margin-right: 5px;" />
        </td>
        <td>
          <%= result.fixture.away_team.name %>
        </td>
        <td>
          <%= link_to 'Show', result, class: 'btn btn-xs btn-warning' %>
          <%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>

<script>
$(document).ready(function() {
  $('#results_table').DataTable({
    "paging": true,
    "ordering": true,
    "searching": true,
    "info": true,
    "pageLength": 25,
    "order": [[ 1, "asc" ], [ 2, "asc" ]],
    "columnDefs": [
      { "targets": [3,4,5,7], "orderable": false },
      { "targets": 7, "width": "12%" }
    ]
  });
});
</script>