<!DOCTYPE html>
<html>
  <head>
    <title><% if content_for?(:title) %><%= yield :title %><% else %>World Cup<% end %></title>
    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">

        <div class="navbar-header">
          <a href="#" class="navbar-brand">
            <%= image_tag 'logo.png', width: "72", height: "33" %>
          </a>
        </div> <!--end navbar-header -->

        <a href="#" class="toggle-button"  onclick = "func();" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="navbar-links">
          <ul class="navbar-right">
            <li><%= link_to  '', root_path, class: "glyphicon glyphicon-home"  %></li> 
            <li><%= link_to 'Bracket', bracket_path %></li>            
            <li><%= link_to 'KO', knockout_results_path %></li>
            <li><%= link_to 'Matches', fixtures_path %></li>
            <li><%= link_to 'LF', list_fixtures_path %></li>
            <li><%= link_to 'Results', results_path %></li>
            <li><%= link_to 'Standings', standings_path %></li>
            <li><%= link_to 'Date', criteria_path %></li>
            <li><%= link_to 'Teams', teams_path %></li>
            <li><%= link_to 'Fifa', "https://www.fifa.com/worldcup/matches/", target: "_blank" %></li>
            <li><%= link_to 'Mono', "https://www.monomaxsports.tv/schedule", target: "_blank" %></li>

          </ul>
        </div><!--end of navbar-links -->

    </nav>  <!-- End of nav element --> 
    <div class="container bodyContent"> 
      <%= yield %>
    </div> 

    <script type = "text/javascript">  
          function func() {  
            const navbarLinks = document.getElementsByClassName('navbar-links')[0];
            navbarLinks.classList.toggle('active');
          }  
    </script>
    
  </body>
</html>

